<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置配置文件如果改动自动加载，监测是否修改时间间隔为60s，不打印logback内部日志信息 -->
<configuration scan="true" scanPeriod="60 seconds" debug="true">
<!--设置上下文名称  -->
	<property name="appName" value="elk"/>
	<contextName>${appName}</contextName>
	<!-- <timestamp key="" datePattern=""/> -->
	<!-- 存放日志地址 -->
	<property name="log_home" value="d:/"/>
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50} =======> %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 滚动记录日志 -->
 	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  <!-- 类要引用正确ch.qos.logback.core.FileAppender -->
		<file>${log_home}/elk.log</file> 
	<!-- 	<append>true</append> -->
      <!--   <Encoding>UTF-8</Encoding>   1.17版本后不能用，去掉 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> <!-- 不是ch.qos.logback.core.rolling.RollingPolicy -->
		<!-- 日志文件输出的文件名 -->
			<fileNamePattern>${log_home}/%d{yyyy-MM-dd}/error-log.log</fileNamePattern>
			<!-- 日志保留30天 -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<!--  格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符  -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} {%thread} %-5level %logger{50} =======> %msg%n</pattern>   
		</encoder>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <MaxFileSize>10MB</MaxFileSize>
       </triggeringPolicy>
	</appender>
	
	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
	<!-- 日志输出目标ip地址 -->
		<destination>192.168.10.194:9601</destination>
		<encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"appname":"elk"}</customFields>
		</encoder>
	</appender>
	    <!--myibatis log configure--> 
    <logger name="com.apache.ibatis" level="TRACE"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGSTASH"/>
    </root> 
   <!--  
    日志异步到数据库  
    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        日志异步到数据库 
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
           连接池 
           <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
              <driverClass>com.mysql.jdbc.Driver</driverClass>
              <url>jdbc:mysql://127.0.0.1:3306/databaseName</url>
              <user>root</user>
              <password>root</password>
            </dataSource>
        </connectionSource>
  </appender> -->
</configuration>